In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as mpl
%matplotlib inline
import seaborn as sns

In [2]:
data = pd.read_csv('Kyoto_Restaurant_Info.csv')

In [3]:
data.head()

,Unnamed: 0,Name,JapaneseName,Station,FirstCategory,SecondCategory,DinnerPrice,LunchPrice,TotalRating,DinnerRating,LunchRating,ReviewNum,Lat,Long
0,1,Orudeidainingurajou,オールデイダイニング ラジョウ,Kyoto,Buffet style,Cafe,￥4000～￥4999,￥2000～￥2999,3.39,3.20,3.38,56,34.986175,135.761314
1,2,Steak Frites Gaspard zinzin,ステックフリット ガスパール ザンザン,Karasuma,Bistro,Steak,￥3000～￥3999,￥1000～￥1999,3.18,3.06,3.33,70,35.005826,135.759857
2,3,KAZUMA,和馬,Sanjo,Izakaya (Tavern),Japanese food (other),￥3000～￥3999,NaN,3.28,3.28,NaN,7,35.006583,135.770247
3,4,okonomiyakiteppanyakimiki,お好み焼き 鉄板焼き 三喜,Tambaguchi,Okonomiyaki,Izakaya (Tavern),￥3000～￥3999,NaN,3.14,3.14,NaN,16,34.995924,135.748267
4,5,Shaofeiyan,小肥羊 京都河原町店,Kyoto Shiyakusho Mae,Chinese hot pot / fire pot,Chinese,￥4000～￥4999,￥1000～￥1999,3.16,3.16,3.05,23,35.007901,135.768202

In [4]:
data.columns

Index(['Unnamed: 0', 'Name', 'JapaneseName', 'Station', 'FirstCategory',
       'SecondCategory', 'DinnerPrice', 'LunchPrice', 'TotalRating',
       'DinnerRating', 'LunchRating', 'ReviewNum', 'Lat', 'Long'],
      dtype='object')

In [5]:
data.dtypes

Unnamed: 0          int64
Name               object
JapaneseName       object
Station            object
FirstCategory      object
SecondCategory     object
DinnerPrice        object
LunchPrice         object
TotalRating       float64
DinnerRating      float64
LunchRating       float64
ReviewNum           int64
Lat               float64
Long              float64
dtype: object

In [6]:
data['TotalRating'].describe()

count    895.000000
mean       3.212480
std        0.215588
min        3.000000
25%        3.050000
50%        3.090000
75%        3.420000
max        4.190000
Name: TotalRating, dtype: float64

In [7]:
data.corr()

,Unnamed: 0,TotalRating,DinnerRating,LunchRating,ReviewNum,Lat,Long
Unnamed: 0,1.000000,0.088339,0.041732,0.048770,0.101474,-0.018645,-0.049550
TotalRating,0.088339,1.000000,0.920213,0.813692,0.326734,0.036272,0.033592
DinnerRating,0.041732,0.920213,1.000000,0.593806,0.281516,0.039288,0.033378
LunchRating,0.048770,0.813692,0.593806,1.000000,0.333693,0.089608,-0.001282
ReviewNum,0.101474,0.326734,0.281516,0.333693,1.000000,-0.025752,0.040495
Lat,-0.018645,0.036272,0.039288,0.089608,-0.025752,1.000000,-0.802595
Long,-0.049550,0.033592,0.033378,-0.001282,0.040495,-0.802595,1.000000

In [8]:
data.isnull().sum()

Unnamed: 0          0
Name                0
JapaneseName        0
Station             0
FirstCategory       0
SecondCategory     28
DinnerPrice         0
LunchPrice        411
TotalRating         0
DinnerRating        0
LunchRating       402
ReviewNum           0
Lat                 0
Long                0
dtype: int64

In [9]:
data.dropna(inplace=True)

**Data Cleaning** dropped null values but kept DataFrame with valid entries in the same variable.

In [10]:
data.isnull().sum()

Unnamed: 0        0
Name              0
JapaneseName      0
Station           0
FirstCategory     0
SecondCategory    0
DinnerPrice       0
LunchPrice        0
TotalRating       0
DinnerRating      0
LunchRating       0
ReviewNum         0
Lat               0
Long              0
dtype: int64

In [11]:
plt.figure(figsize=(20, 10))
sns.boxplot(x='DinnerPrice', y='TotalRating', data=data);

NameError: name 'plt' is not defined

It looks like the best restaurants dinner price is between ¥20,000 - ¥29,999. Restaurants dinner prices' from ¥10,000 - ¥14,999 have the most outliers.

To make this more readable I will be converting the Yen range into the average of the column in USD. 
Using the conversion 100 Yen = $0.94, 499.5

In [ ]:
data['DinnerPrice'].unique()

In [ ]:
data.replace('￥4000～￥4999', '42', inplace=True)
data.replace('￥3000～￥3999', '33', inplace=True)
data.replace('￥8000～￥9999', '85', inplace=True)
data.replace('￥2000～￥2999', '24', inplace=True)
data.replace('￥10000～￥14999', '117', inplace=True)
data.replace('￥5000～￥5999', '52', inplace=True)
data.replace('￥6000～￥7999', '65', inplace=True)
data.replace('￥20000～￥29999', '235', inplace=True)
data.replace('￥1000～￥1999', '14', inplace=True)
data.replace('～￥999', '9', inplace=True)
data.replace('￥15000～￥19999', '165', inplace=True)
data.replace('￥30000～', '282', inplace=True)

In [ ]:
data.head()

In [ ]:
data.rename(columns={'DinnerPrice': 'AVG_DinnerPrice_USD$', 'LunchPrice': 'AVG_LunchPrice_USD'},inplace=True)

In [ ]:
data.columns

In [ ]:
data.dtypes

In [ ]:
# Lets change the Dinner and Lunch Prices from objects into floats. 

data['AVG_DinnerPrice_USD$'] = pd.to_numeric(data['AVG_DinnerPrice_USD$'],errors='coerce')

data['AVG_LunchPrice_USD'] = pd.to_numeric(data['AVG_LunchPrice_USD'],errors='coerce')

In [ ]:
data.dtypes

In [ ]:
plt.subplot(2,3,1)
mpl.rcParams['figure.figsize'] = (10,10)
sns.regplot(x=data['AVG_DinnerPrice_USD$'], y=data['DinnerRating']);

plt.subplot(2,3,4)
mpl.rcParams['figure.figsize'] = (10,10)
sns.regplot(x=data['AVG_LunchPrice_USD'], y=data['LunchRating']);

plt.tight_layout()

In [ ]:

plt.subplot(2,3,4)
plt.figure(figsize=(20, 10))
sns.boxplot(x='AVG_LunchPrice_USD', y='LunchRating', data=data);

In [ ]:

plt.figure(figsize=(20, 10))
sns.boxplot(x='AVG_DinnerPrice_USD$', y='DinnerRating', data=data);

In [ ]:
mpl.rcParams['figure.figsize'] = (5,5)
sns.regplot(x=data['AVG_LunchPrice_USD'], y=data['LunchRating']);

**Insight**
There is an obvious correlation that there is an improvement when you are willing to spend more at both lunch and dinner. Thought do you get more bane for your buck during one of these times?

In order to answer this question we need to define the variable Bang for your Buck. This is going to be done by dividing the aveaage meal price with its corresponding raiting.

In [ ]:
# We would hope to spend more money are recieve a better experince. But we all know that is not the case.
# To better quantify our results we will be creating a new column that takes the average meal price and divides it with the corresponding rating. This will give us a 'Cost/Rating Variable'

data['Cost_Rating_Dinner'] = data['AVG_DinnerPrice_USD$'] / data['DinnerRating']

data['Cost_Rating_Lunch'] = data ['AVG_LunchPrice_USD'] / data['LunchRating']
data.head()

In [ ]:
data['Cost_Rating_Dinner'].describe()

The label for these variables is dollars per raiting score.

In [ ]:
data['Cost_Rating_Lunch'].describe()

In [ ]:
15.154700 - 7.905245

In [ ]:
Subtracting the average

In [ ]:
%matplotlib inline

plt.subplot(1,2,1)
sns.boxplot(data = CRD)
plt.title('Dinner Cost per Raiting')
plt.ylabel('USD')
plt.xlabel('Rating')
mpl.rcParams['figure.figsize'] = (25,25)

plt.subplot(1,2,2)
sns.boxplot(data = CRL)
plt.title('Lunch Cost per Raiting')
plt.ylabel('USD')
plt.xlabel('Rating')

plt.tight_layout()
plt.show()

**Insight**
Dinner has an average of having a bang for your buck score 7.25 more than the average lunch. Do you

In [ ]:
data.to_csv(r'Kyoto_Data_BFB.csv', index = False)